:root {

    --bg: #0A0A0A;

    --red: #8A0303;

    --white: #F1EFE8;

    --gold: #9C7A3C;

    --blue: #00D4FF;


}
:root {


    --font-fa-title: "Vazirmatn";

    --font-fa-body: "Lalezar";

    --font-fa-special: "Nastaliq";


    --font-en-title: "NotoSerif";

    --font-en-body: "Cormorant";

    --font-en-special: "Pacifico";


}

